---
---

@import "{{ site.theme }}";

/* Change background */
body {
  background-color: #f5f5f5;
}

/* Change text colour */
body {
  color: #111111;
}

/* Change link colour */
a {
  color: #e63946;
}

/* Change header/title colour */
.site-title {
  color: #000000;
}

/* Change post titles */
.post-link {
  color: #1d3557;
}
